<%= form_tag new_booking_path, method: 'get' do %>
  <% @search_results.each do |result| %>
  <div class="row">



  <div class="col-md-2">
    <%= label_tag(:flight_id,  "FLIGHT ID") %>
    <div class="form-control">
      <%= result.id %>
    </div>
  </div>

  <div class="col-md-2">
    <%= label_tag(:from, "FROM") %>
    <div class="form-control">
      <%= result.startAirport.inspect  %>
    </div>
  </div>

  <div class="col-md-2">
    <%= label_tag(:to, "TO") %>
    <div class="form-control">
      <%= result.finishAirport.inspect %>
    </div>
  </div>

  <div class="col-md-2">
    <%= label_tag(:date, "FLIGHT DATE") %>
    <div class="form-control">
      <%= result.date %>
    </div>
  </div>

  <div class="col-md-2">
    <%= label_tag(:duration, "FLIGHT DURATION") %>
    <div class="form-control">
      <%= result.duration %>
    </div>
  </div>


  <%= hidden_field_tag :passengers, params[:passengers] %>

  <div class="col-md-2">
  <%= hidden_field_tag :flight_id, result.id %>
    <%= label_tag(:select, "SELECT") %> <br>
    <%= submit_tag "Select Flight", :name => nil, class: "btn btn-primary" %>
    </div>
</div>

  <% end %>

<% end %>



