<% provide(:title, 'Booking Page') %>
<h1>Booking</h1>

<fieldset>
  <legend>Trip Details</legend>
  <h3>Your flight ID is: <b><%= @flight.id %></b></h3>
  <p>Your flight is leaving at: <b><%= @flight.date.strftime("%A, %B %d, %Y") %></b></p>
</fieldset>

<%= form_for @booking  do |book| %>

<div class="row">

  <div class="col-md-2">
    <%= label_tag(:from, "FROM") %>
    <div class="form-control">
      <%= @flight.from_airport.name  %>
    </div>
  </div>

  <div class="col-md-2">
    <%= label_tag(:to, "TO") %>
    <div class="form-control">
      <%= @flight.to_airport.name %>
    </div>
  </div>

<div class="col-md-2">
  <%= label_tag(:duration, "FLIGHT DURATION") %>
  <div class="form-control">
    <%= @flight.duration / 60 / 60 %> hours
  </div>
</div>

</div>

<br>
<br>
<br>

<div class="row">

  <%= book.fields_for :passengers do |pass| %>

    <div class="col-md-6 text-center">
    <%= "Passenger " + @numbers.to_s %>

    <div class="form-group">
      <%= pass.label :name %>
      <%= pass.text_field :name, class: 'form-control form-small' %>
    </div>

    <div class="form-group">
      <%= pass.label :email %>
      <%= pass.text_field :email, class: 'form-control form-small' %>
    </div>



<% @numbers +=1 %>
</div>
<% end %>

<%= hidden_field_tag(:flight_id, params[:flight_id]) %>
<%= book.hidden_field :flight_id, value: params[:flight_id] %>

<div class="form-group">
  <%= book.submit "Book Flight", class: "btn btn-success" %>
</div>


</div>
<% end %>
